<div class="card my=3" style="width: 18rem;">
    <div class="card-header">
      <img class="rounded-circle" src="{{post.user.profile_image.url}}" alt="" width="30px">
        <a href="">{{post.user.username}}</a>
        <!-- 게시물의 - 유저 컬럼의 - user아이디를 가져오기 -->
    </div>
    <img src="{{post.image.url}}" class="" alt="...">
    <!-- post.image.url은 어디서 온거지???????? -->
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5> -->
      <p class="card-text">{{post.context}}</p>
      <p class="card-text">{{post.created_at}}</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>