<div class="card my-3 p-0 col-12 offset-md-3 col-md-4">
    <!-- 윗부분 정신을 잃어서 다시 봐야합니다... 그리...드... -->
    <div class="card-header">
      <img class="rounded-circle" src="{{post.user.profile_image.url}}" alt="" width="30px">
        <a href="">{{post.user.username}}</a>
        <!-- 게시물의 - 유저 컬럼의 - user아이디를 가져오기 -->
    </div>
    <img src="{{post.image.url}}" class="" alt="...">
    <!-- post.image.url은 어디서 온거지???????? -->
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5> -->
      <p class="card-text">{{post.context}}</p>
      <p class="card-text">{{post.created_at|timesince}}</p>
      <!-- timesince ~시간 전 -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>